<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC47rIqJmBW7jb_3wbrKtdQ6drc6vEwURc</string>
	<key>GCM_SENDER_ID</key>
	<string>684843280031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldensoft.dakeh.sp.dakehServiceProvider</string>
	<key>PROJECT_ID</key>
	<string>dakeh-58669</string>
	<key>STORAGE_BUCKET</key>
	<string>dakeh-58669.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684843280031:ios:f7489f75ea3866a92a24aa</string>
</dict>
</plist>